<section class= "w-[80%] m-auto py-[60px]">
  <div>
    <p class="text-[16px] font-medium"> What is new on Cacao? </p>
    <p class="font-bold text-[24px] text-[#70A83B]"> Take a look at our latest products </p>
  </div>

  <div class="grid grid-cols-4 gap-2 pt-7">
    <% products.each do |product| %>
      <div class="text-xs flex flex-col gap-3">
        <%= link_to product_path(product) do %>
          <%= image_tag product.image, class: "w-[264px] h-[264px]" %>
        <% end %>
        <div class="px-3 flex flex-col gap-1 flex-wrap">
          <p class="font-bold text-[16px]"> <%= product.name %> </p>
          <p class="text-[#667479]"> Category: <strong><%= product.category[0].name %></strong> </p>
          <p class="text-[14px]">Price: <strong>$<%= product.price %></strong> </p>
        </div>
      </div>
    <% end %>
  </div>
</section>
